:root {
    --white-color: white;
    --blue-color: rgb(41, 145, 224);
    --shadow-box: 5px 5px 5px rgb(200, 200, 200);
    --border-fields: rgb(203, 203, 203);
    --bg-color: rgb(220, 224, 228);
}

h1 {
    margin: 30px;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

label {
    padding-bottom: 5px;
    margin-right: 15px;
}

input {
    border: 1px solid var(--border-fields);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

textarea {
    border: 1px solid var(--border-fields);
    padding: 20px 15px 20px 15px;
    border-radius: 5px;
}

select {
    border: 1px solid var(--border-fields);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-color);
}

nav {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--blue-color);
    box-sizing: border-box;
    z-index: 100;
}

nav h3 {
    color: var(--white-color) !important;
    margin: 20px;
}

nav ul {
    margin: 30px;
    padding: 0;
    list-style: none;
}

nav ul li {
    padding-bottom: 20px;
}

main {
    width: calc(100% -250px);
    margin-left: 250px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.form-container, .allCategories {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn {
    background-color: var(--blue-color);
    border: none;
    border-radius: 10px;
    margin: 10px 20px 10px 20px;
    padding: 10px 15px 10px 15px;
    color: var(--white-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    background-color: rgb(42, 116, 150);
}

.newTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: var(--shadow-box);
}

.containerTask {
    width: 100%;
    margin-bottom: 20px;
}

.task {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.cardContainer {
    border-radius: 6px;
    box-shadow: var(--shadow-box);
    overflow: hidden;
    margin-bottom: 10px;
    transition: transform 0.2 ease;
}

.cardContainer:hover {
    transform: translateY(-2px);
}

/*Code inserted in index.html from index.js*/
.taskInfo {
    border: none !important;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    gap: 10px;
}

.cardHeaderRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.cardHeaderRow h4 {
    font-size: 18px;
    font-weight: 500;
    color: #1a1a1a;
    margin: 0;
}

.priorityTextLabel {
    font-size: 14px;
    color: #4a4a4a;
}

.categoryBadgeContainer {
    display: flex;
}

.categoryTaskName {
    padding: 4px 12px;
    border-radius: 15px;
    font-size: 14px;
    color: #1a1a1a;
    font-weight: 400;
}

.taskDate {
    font-size: 14px;
    color: #7a7a7a;
}

.cardFooterRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 5px;
}

.taskDescription {
    font-size: 14px;
    color: #6a6a6a;
    max-width: 80%;
}

.btn-taskControls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-checkbox input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.btn-deleteTask {
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 18px;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-deleteTask:hover {
    transform: translateY(-2px);
    color: rgb(255, 0, 0);
}

/*-- Priority decorations --*/
/*High priority*/
.card-priority-alta {
    background-color: #fbcbc9;
}

.card-priority-media, .card-priority-mitjana {
    background-color: #fef0be;
}

.card-priority-baja, .card-priority-baixa {
    background-color: #c9ebd1;
}

h4.completed-title {
    text-decoration: line-through !important;
    color: #8e8e93 !important;
    font-style: italic;
}


.statistics {
    width: 100%;
    max-width: 800px;
    height: 400px !important;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block !important;
    position: relative;
}

.taskChart {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
}



/* -- Styles to createTask.html -- */
.form-container {
    width: 410px;
    background-color: var(--white-color);
    box-shadow: var(--shadow-box);
    border-radius: 10px;
}

.formField {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
}

/* -- Styles to categorias.html -- */
.colorCategory {
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
}

.colorField {
    padding: 1px 2px 1px 2px;
}

.allCategories {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: var(--shadow-box);
    margin-top: 20px;
    width: 410px;
    border-radius: 10px;
}

.category-row {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    padding: 0 20px 0 20px;
    margin: 7px;
    background-color: var(--bg-color);
    border-radius: 10px;
}

.category-info {
    display: flex;
    gap: 10px;
}

.colorIndicator {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    
    /* Uses color passed from JavaScript */
    background-color: var(--badge-color, #000000); 
    
    border: 1px solid rgba(0, 0, 0);
}

.btn-delete {
    background-color: red;
    border: none;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px 15px 10px 15px;
    color: var(--white-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-delete:hover {
    transform: translateY(2px);
    background-color: rgb(164, 31, 31);
}